@model IEnumerable<WebUI.Models.StoreVM>

<div class="text-center">
    <h1>List of Stores</h1>
    <table class="table table-hover">
        <tr>
            <th>Store ID</th>
            <th>Store Name</th>
            <th>Address</th>
            <th></th>
            <th></th>
        </tr>
       @foreach (StoreVM store in Model)
       {
            <tr>
                <td>@Html.DisplayFor(s => store.StoreId)</td>
                <td>@Html.DisplayFor(s => store.Name)</td>
                <td>@Html.DisplayFor(s => store.Address)</td>
                <td>
                    <button class="btn btn-primary">@Html.ActionLink("Products", "Index", "Product", new { storeId = store.StoreId }, new { @style = "color: white" })</button>
                </td>
                <td>
                    <button class="btn btn-primary">@Html.ActionLink("Order History", "Index", "Order", new { p_storeId = store.StoreId}, new { @style = "color: white" })</button>
                </td>
            </tr>
       }
    </table>
</div>